<div class="content">
    <div class="header">
        <div class="left" (click)="toogleChannels()">
            <mat-icon *ngIf="menuIsOpen" class="drop-down">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="!menuIsOpen" class="drop-down">arrow_right</mat-icon>
            <mat-icon class="material-icons-outlined">account_circle_outline</mat-icon>
            <span class="title">Direktnachrichten</span>
        </div>
    </div>
    <ul *ngIf="menuIsOpen" class="menu">
        <li *ngFor="let item of items$ | async" (click)="ui.activeLink = item.name">
            <div [class.active-link]="item.name === ui.activeLink" class="item-cont">
                <div class="avatar">
                    <img src="assets/images/avatars/{{item.image}}.png">
                    <div *ngIf="item.online" class="online"></div>
                    <div *ngIf="!item.online" class="offline"></div>
                </div>
                <span class="name">{{item.name}}</span>
            </div>
        </li>
        <li>
        </li>
    </ul>
</div>