.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.menu {
    margin-right: 20px;
}

.title {
    display: flex;
    font-size: 20px;
    font-weight: 700;
} 

.left, .right {
    display: flex;
    cursor: pointer; 
    height: 100%;
}

.left {
    align-items: center;
    transition: all 225ms ease-in-out;

    &:hover {
        color: var(--font-color-sec);
        transition: all 225ms ease-in-out;
    }
}

.right {
    justify-content: flex-end;
}

.material-icons-outlined {
    margin-right: 12px;
}

.channels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    gap: 16px;

    li {
        display: flex;
        align-items: center;

        &:first-child {
            margin-top: 32px;
        }
    } 
}

.add-channel {
        display: flex;
        width: 30px;
        height: 30px; 
}





