.content {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    margin-right: 20px;
}

.title {
    display: flex;
    font-size: 20px;
    font-weight: 700;
}

.left,
.right {
    display: flex;
    cursor: pointer;
    height: 100%;
}

.left {
    align-items: center;
    transition: all 225ms ease-in-out;

    &:hover {
        color: var(--font-color-sec);
        transition: all 225ms ease-in-out;
    }
}

.right {
    justify-content: flex-end;
}

.material-icons-outlined {
    margin-right: 12px;
}

.channels {
    display: flex;
    flex-direction: column;
    list-style-type: none;
   

    li {
        display: flex;
        align-items: center;
        padding: 4px 20px;
        font-size: 18px;
        cursor: pointer;

        &:first-child {
            margin-top: 16px;
        }
    }

    .item-cont {
        display: inline-block;
        padding: 4px 20px;
    }

    span, mat-icon {
        vertical-align: middle;
    }

}

.add-channel {
    display: flex;
    width: 30px;
    height: 30px;
}