:root {
    --main-bg: #ECEEFE; 
    --overlay-bg: rgba(236, 238, 254, .25);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--main-bg);
}

input {
    font-family: 'Nunito Sans', sans-serif;
    border: unset;
    background-color: unset;
    outline: none;
}
