:root {
    --main-bg: #ECEEFE; 
    --box-bg: #fff;
    --overlay-bg: rgba(236, 238, 254, .5);
    --highlight: #ECEEFE;
    --font-color-prim: #000;
    --font-color-sec: #535AF1;
    --paceholder-color: #686868;
    --outline-default-color: #ADB0D9;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--font-color-prim);
    background-color: var(--main-bg);
    font-weight: 400;
}

input {
    font-family: 'Nunito Sans', sans-serif;
    border: unset;
    background-color: unset;
    outline: none;
}
