<div class="article-cont">
    <div class="article-left">
        <div class="avatar">
            <img src="assets/images/avatars/noah-braun.png">
        </div>
    </div>
    <div class="article-right">
        <div class="article-right-header">
            <span class="name">Noah Braun</span>
            <span class="time">14:25 Uhr</span>
        </div>
        <div class="message">
            <span>Welche Version ist aktuell von Angular?</span>
        </div>
    </div>
</div>
<div class="article-footer">
    <div class="article-footer-left">
        <span class="answers-amount">2 Antworten</span>
    </div>
    <div class="article-footer-right">
        <hr class="underline">
    </div>
</div>
<app-answer></app-answer>
<app-answer></app-answer>
<app-answer></app-answer>