<div class="content">
    <div class="header">
        <div class="header-cont">
            <div class="header-left">
                <span class="title">Thread</span>
                <div class="channel-name">
                    <mat-icon>tag</mat-icon>
                    <span>Entwicklerteam</span>
                </div>
            </div>
            <div class="header-right">
                <mat-icon class="icon-hover" (click)="ui.showThread = false" >close</mat-icon>
            </div>
        </div>
    </div>
    <div class="article-cont">
        <div class="article-left">
            <div class="avatar">
                <img src="assets/images/avatars/noah-braun.png">
            </div>
        </div>
        <div class="article-right">
            <div class="article-right-header">
                <span class="name">Noah Braun</span>
                <span class="time">14:25 Uhr</span>
            </div>
            <div class="message">
                <span>Hello my first message for you! Hello my first message for you! Hello my first message for you!</span>
            </div>
        </div>
    </div>
    <div class="article-footer">
        <div class="article-footer-left">
            <span class="answers-amount">2 Antworten</span>
        </div>
        <div class="article-footer-right">
            <hr class="underline">
        </div>
    </div>
</div>