<div class="content">
    <div class="header">
        <div class="header-cont">
            <div class="header-left">
                <span class="title">Thread</span>
                <div class="channel-name">
                    <mat-icon>tag</mat-icon>
                    <span>Entwicklerteam</span>
                </div>
            </div>
            <div class="header-right">
                <mat-icon class="icon-hover" (click)="ui.showThread = false">close</mat-icon>
            </div>
        </div>
    </div>
    <div class="post-content">
        <app-post></app-post>
    </div> 
</div>