<div class="article-cont">
    <div class="article-left">
        <div class="avatar">
            <img src="assets/images/avatars/noah-braun.png">
        </div>
    </div>
    <div class="article-right">
        <div class="article-right-header">
            <span class="name">Noah Braun</span>
            <span class="time">14:25 Uhr</span>
        </div>
        <div class="message">
            <span>Ich habe die gleiche Frage. Ich habe gegoogelt und es scheint, dass die aktuelle Version Angular
                13 ist. Vielleicht weiß Frederik, ob es wahr ist.</span>
        </div>
    </div>
</div>
